<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>电影展示</title>
    <!-- <link rel="stylesheet" href="assets/css/reset.css"> -->
    <link rel="stylesheet" href="./assets/css/all.min.css">
</head>

<body ng-app="moviecat">
    <!-- 顶部导航栏开始 -->
    <div class="top"  ng-controller="searchController">
        <div class="header">
            <a href="#/home_page"><img src="" alt=""></a>
            <div class="search">
                <input class="my-input" type="text" placeholder="电影搜索" ng-model="query">
                <button ng-click="search()">搜索</button>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <!--li中添加 active 类样式，显示焦点状态。-->
                <li auto-active><a href="#/home_page">首页</a></li>
                <li auto-active><a href="#/in_theaters">正在热映</a></li>
                <li auto-active><a href="#/coming_soon">即将上映</a></li>
                <li auto-active><a href="#/top250">Top250</a></li>
            </ul>
        </nav>
    </div>
    <!-- 顶部导航栏结束 -->
    <div class="container">
        <div ng-view>

        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>版权所有&copy; 韦少强个人无聊之作</p>
        </div>
    </footer>
    <!-- 自动补全C3样式的前缀 -->
    <script src="./assets/js/prefixfree.min.js"></script>
    <script src="./assets/js/angular.min.js"></script>
    <script src="./assets/js/angular-route.min.js"></script>
    <script src="./app.js"></script>
    <script src="./home/homeModule.js"></script>
    <script src="./movie_detail/module.js"></script>
    <script src="./movie_list/module.js"></script>
    <script src="./common/auto-active.js"></script>
    <script src="./common/JSONP.js"></script>
</body>

</html>
